<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Formulário de cadastro de notícias</title>
</head>
<body>
	<h1>
	  <% if (noticia.id_noticia) { %>
	    Editar notícia
	  <% } else { %>
	    Adicionar notícia
	  <% } %>
	</h1>

	<br/>

	<% if (validacao.length > 0) { %>
		<ul>
			<% for (var i = 0; i < validacao.length; i++) { %>
				<li>
					<%= validacao[i].msg %>
				</li>
			<% } %>
		</ul>
	<% } %>

	<form action="/noticias/salvar" method="post">
	<input type="hidden" name="id_noticia" value="<%= noticia.id_noticia || '' %>">

		<label>Título</label>
		<input type="text" id="titulo" name="titulo" value="<%= noticia.titulo || '' %>" placeholder="Título da notícia" />

		<br/><br/>

		<label>Resumo</label>
		<input type="text" id="resumo" name="resumo" value="<%= noticia.resumo || '' %>" placeholder="Resumo da notícia" />

		<br/><br/>

		<label>Autor da Notícia</label>
		<input type="text" id="autor" name="autor" value="<%= noticia.autor || '' %>" placeholder="Autor da notícia" />

		<br/><br/>

		<label>Data da Notícia</label>
		<input type="date" id="data_noticia" name="data_noticia" value="<%= noticia.data_noticia || '' %>" />

		<br/><br/>

		<label>Notícia</label>
		<textarea id="noticia" name="noticia" rows="5" cols="30"><%= noticia.noticia || '' %></textarea>

		<br/><br/>

		<input type="submit" value="Enviar">
	</form>
</body>
</html>
